name: Optimize Logos

on:
  push:
    paths:
      - 'img/raw_logos/**'

jobs:
  optimize-images:
    runs-on: ubuntu-latest
    permissions:
      contents: write 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Pillow

      - name: Run Optimization Script
        run: python scripts/optimize_images.py

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-optimized logos"
          file_pattern: 'img/logos/**'